
body{
    background: black;
    display: flex;
}

.img{
    margin-left:0;
    margin-right: 0;
    background-image: url(../../assets/imagen-login3.jpg);
    height:700px;
    width:50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px;

}

.container{
    width: 50%;
    padding: 12em 8em;
    color: white;
}





.btn {
  cursor: pointer;
  border-radius: 40px;
  -webkit-box-shadow: none !important;

  box-shadow: 0 10px 30px 0px rgb(165 42 42 / 50%);
  -moz-box-shadow: 0 10px 30px 0px rgba(165, 42, 42, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgb(165 42 42 / 50%);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);

  font-size: 18px;
  text-transform: uppercase;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #a52a2a !important;
  border: 1px solid #a52a21 !important;
  color: #fff !important;
}
.btn.btn-primary:hover {
  border: 1px solid #a52a2a;
  background: transparent;
  color: #a52a2a;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #a52a2a;
  background: transparent;
  color: #a52a2a;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #a52a55;
  color: #fff;
}


