<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Inicio de Sesión</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
			      	<h3 class="mb-4 text-center">
			      		¿Tiene una cuenta?
			      	</h3>
			      	<form action="#" class="signin-form">
			      		<div class="form-group">
				  			<input type="text" class="form-control" placeholder="Correo Eletrónico" #userName required>
						</div>
					    <div class="form-group">
							<input id="password-field" type="password" class="form-control" placeholder="Contraseña" #userPassword required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>

						<!-- Calling SignIn Api from AuthService -->
						<div class="form-group formGroup">
							<button type="submit" class="form-control btn btn-primary submit px-3"
							   value="Log in"
							(click)="authenticationService.SignIn(userName.value, userPassword.value)"
							>
							Iniciar Sesión
							</button>
						</div>
						<div class="text-center p-t-57 p-b-20">
							<span class="txt1">
								O inicie sesión con
							</span>
						</div>
						<div class="flex-c p-b-112  btn-google">
							<a class="login100-social-item"
									type="button"
									(click)="authenticationService.GoogleAuth()">
									<img src="../../assets/icon-google.png" alt="GOOGLE">
							</a>
							<!-- Calling GoogleAuth Api from AuthService
							<div class="formGroup">
								<button type="button" class="btn googleBtn" (click)="authenticationService.GoogleAuth()">
								<i class="fab fa-google-plus-g"></i>
						        Log in with Google
								</button>
							</div>-->
						</div>
  						<div class="text-center">
						<a href="/register" class="txt2 hov1">
							Registrarse
						</a>
						</div>
					</form>
				</div>
			</div>
	    </div>
	</div>
</section>

