<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-3">
				<h2 class="heading-section">¡Crea tu propia aventura!</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
			      	<h3 class="mb-4 text-center">
                Iniciar Juego
			      	</h3>
			      	<form action="#" class="signin-form">
						<!-- Calling SignIn Api from AuthService -->
						<div class="form-group formGroup">
							<button type="button" class="form-control btn btn-primary submit px-3"
							   value="Log in" (click)="iniciarJuego()"
							>
							Jugar
							</button>
						</div>
					</form>
				</div>
			</div>
	    </div>
	</div>
</section>
<!--
<section>
  <div class="menu_home">
    <div class="first_course"  id="course1">
      <div class="alpha_img">
      <p class="title_course">Donas Glaseadas con chispas</p>
      <div class="btns">
        <button type="button" class="form-control btn btn1 btn-primary submit px-3">Jugar</button>
      </div>
      </div>
    </div>

    <div class="seconst_course"  id="course2">
      <div class="alpha_img">
      <p class="title_course">croissant francés relleno</p>
      <div class="btns">
        <button type="button" class="form-control btn btn-primary btn1 submit px-3">Jugar</button>
     </div>
      </div>
    </div>

    <div class="first_course"  id="course3">
      <div class="alpha_img">
      <p class="title_course">Pastel de chocolate</p>
      <div class="btns">
        <button type="button" class="form-control btn btn-primary btn1 submit px-3">Jugar</button>
    </div>
      </div>
    </div>

    <div class="seconst_course"  id="course4">
      <div class="alpha_img">
      <p class="title_course">Postre de tres leches</p>
      <div class="btns">
        <button type="button" class="form-control btn btn-primary btn1 submit px-3">Jugar</button>
      </div>
      </div>
    </div>

  </div>

</section>
-->




