<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Inicio de Sesión</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
			      	<h3 class="mb-4 text-center">
			      		¿Tiene una cuenta?
			      	</h3>
			      	<form action="#" class="signin-form">
			      		<div class="form-group">
				  			<input type="text" class="form-control" placeholder="Correo Eletrónico" #userName required>
						</div>

						<!-- Calling SignIn Api from AuthService -->
						<div class="form-group formGroup">
							<button type="submit" class="form-control btn btn-primary submit px-3"
							   value="Log in"
							>
							Iniciar Sesión
							</button>
						</div>

					</form>
				</div>
			</div>
	    </div>
	</div>





















  <div class="menu_home">
    <div class="first_course"  id="course1">
      <div class="alpha_img">
      <p class="title_course">Donas Glaseadas con chispas</p>
      <div class="btns">
        <button type="button" class="btn btn-warning btn1">Ver Detalles</button>
        <button type="button" class="btn btn-warning btn2">Agregar al carrito</button>
      </div>
      </div>
    </div>

    <div class="seconst_course"  id="course2">
      <div class="alpha_img">
      <p class="title_course">croissant francés relleno</p>
      <div class="btns">
        <button type="button" class="btn btn-warning btn1">Ver Detalles</button>
        <button type="button" class="btn btn-warning btn2">Agregar al carrito</button>
     </div>
      </div>
    </div>

    <div class="first_course"  id="course3">
      <div class="alpha_img">
      <p class="title_course">Pastel de chocolate</p>
      <div class="btns">
        <button type="button" class="btn btn-warning btn1">Ver Detalles</button>
        <button type="button" class="btn btn-warning btn2">Agregar al carrito</button>
    </div>
      </div>
    </div>

    <div class="seconst_course"  id="course4">
      <div class="alpha_img">
      <p class="title_course">Postre de tres leches</p>
      <div class="btns">
        <button type="button" class="btn btn-warning btn1">Ver Detalles</button>
        <button type="button" class="btn btn-warning btn2">Agregar al carrito</button>
      </div>
      </div>
    </div>

  </div>


  <footer>
      <div>

          <p id="pf1">Misión</p>
          <p id="pf2">Visión</p>
          <p id="pf3">Conocemos mejor</p>
          <p id="pf4">Términos y condiciones</p>
      </div>

      <div>
          <div id="pf5">
              <img src="../../../assets/marvel.jpeg" width="24px" height="24px" alt="">
              <p>Ubicacion: Carrera 5648 Numero 598</p>
          </div>
          <div id="pf6">
              <img src="../../../assets/marvel1.jpg" width="24px"  height="24px" alt="">
              <p>Telefono: 54982158</p>
          </div>
          <div id="pf7">
              <img src="../../../assets/imagen-login4.jpg" width="24px"  height="24px" alt="">
              <p>Whatsapp: 32154862315</p>
          </div>
          <div id="pf8">
              <img src="../../../assets/imagen-login3.jpg" width="24px" height="24px"  alt="">
              <p id="pf8">Correo: gourmetHorneado@gourmetHor.or.com</p>
          </div>
      </div>
  </footer>
</section>




