body {
    margin: 2px 2px 2px 2px;
    padding: 0;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  p {
    margin: 0;
    font-weight: 400;
  }
  #container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .card {
    cursor: pointer;
    width: 150px;
    background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    padding: 1px 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 1),
                -4px -4px 4px rgba(255, 255, 255, .5),
                inset 1px 1px 2px rgba(255, 255, 255, .1),
                5px 5px 5px rgba(0, 0, 0, .15);
  }
  .card .monster-image {
    width: 90%;
    margin-top: 1px;
    padding: 7px 7px 2px 7px;
    border-radius: 5px;
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
                -4px -4px 4px rgba(255, 255, 255, .5),
                inset 1px 1px 2px rgba(255, 255, 255, .1),
                2px 2px 5px rgba(0, 0, 0, .15);
    box-sizing: border-box;
  }
  .card .monster-image img {
    width: 100%;
  }
  .card .description {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 1),
                -4px -4px 4px rgba(255, 255, 255, .5),
                inset 1px 1px 2px rgba(255, 255, 255, .1),
                2px 2px 5px rgba(0, 0, 0, .15);
    box-sizing: border-box;
  }
  .card .description .atk-def {
    padding-top: 5px;
    border-top: solid 1px #d8d8d8;
    font-size: 12px;
    text-align: right;
  }
  .card:hover {
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 1),
                inset -4px -4px 4px rgba(255, 255, 255, .5),
                inset 1px 1px 2px rgba(255, 255, 255, .1),
                inset 5px 5px 5px rgba(0, 0, 0, .15);
  }
  .card:hover .monster-image,
  .card:hover .description {
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 1),
                inset -4px -4px 4px rgba(255, 255, 255, .5),
                inset 1px 1px 2px rgba(255, 255, 255, .1),
                inset 2px 2px 5px rgba(0, 0, 0, .15);
  }
  .card:hover p,
  .card:hover img {
    transform: scale(.98);
  }
  div.cards-container {
    width: 800px;
    margin-left: 5px;
    display: flex;
    float: bottom; 
    position: absolute;
    float: bottom;
    bottom: 5px;
    position:fixed;
  }

  div.bet-cards{
    width: 800px;
    margin-left: 5px;
    display: flex;
  }
  div.winnerCard{
    display: flex;
    justify-content: center;
  }