<p>hall works!</p>

<div class="cards-container">
  <body>
    <div id="container">
      <div class="card">
        <div class="monster-image">
          <img src="../../assets/Pack 108 Pepsicards marvel/0E0.jpg" />
        </div>
        <div class="description">
          <p class="atk-def">XP/1000</p>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div id="container">
      <div class="card">
        <div class="monster-image">
          <img src="../../assets/Pack 108 Pepsicards marvel/287.jpg" />
        </div>
        <div class="description">
          <p class="atk-def">XP/800</p>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div id="container">
      <div class="card">
        <div class="monster-image">
          <img src="../../assets/Pack 108 Pepsicards marvel/E5E.jpg" />
        </div>
        <div class="description">
          <p class="atk-def">XP/500</p>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div id="container">
      <div class="card">
        <div class="monster-image">
          <img src="../../assets/Pack 108 Pepsicards marvel/740.jpg" />
        </div>
        <div class="description">
          <p class="atk-def">XP/800</p>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div id="container">
      <div class="card">
        <div class="monster-image">
          <img src="../../assets/Pack 108 Pepsicards marvel/175.jpg" />
        </div>
        <div class="description">
          <p class="atk-def">XP/800</p>
        </div>
      </div>
    </div>
  </body>
 
</div>

<div>Detesto cuando pasa esto</div>
